/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/07/2020, 07:18:52 PM
    Author     : danip
*/

body {
    background: url(../img/gameBack.jpg) no-repeat center top;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    font-color: white;
}

.game-container{

    display: grid;
    grid-template-columns: repeat(2, 400px) ;
    grid-template-rows: repeat(2, 400px);
    grid-gap:.5px;
    padding: 10px;
}

.table {


}

.zeroBlock{
    display:grid;
    grid-template-columns:50px;
    grid-template-rows:151px;
    grid-gap: .5px;
    margin:0;   

}

.zeroButton{
    overflow: hidden;
    position: static;
    color: white;
      background: -o-linear-gradient(rgba(0, 255, 0,0), rgba(0, 255, 0, .2), rgb(0, 255, 0));
    background: -moz-linear-gradient(rgba(0, 255, 0, 0), rgba(0, 255, 0, .2), rgb(0, 255, 0));
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .2), rgb(0, 0, 0));
    background: linear-gradient(rgba(0, 255, 0, 0), rgba(0, 2550,0, .2), rgb(0, 255, 0));

}
.fstBlock {
    

    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3, 50px);
    grid-gap: .5px;
    margin:0;
}

.blockblack{
   
    border-color: white;
    position: static;
    color: white;
     background: -o-linear-gradient(rgba(0, 0, 0,0), rgba(0, 0, 0, .2), rgb(0, 0, 0));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .2), rgb(0, 0, 0));
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .2), rgb(0, 0, 0));
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .2), rgb(0, 0, 0));
}
.blockred{
   
    border-color: white;
    position: static;
    color: white;
      background: -o-linear-gradient(rgba(255, 0, 0,0), rgba(255, 0, 0, .2), rgb(255, 0, 0));
    background: -moz-linear-gradient(rgba(255, 0, 0, 0), rgba(255, 0, 0, .2), rgb(255, 0, 0));
    background: -webkit-linear-gradient(rgba(255, 0, 0, 0), rgba(255, 0, 0, .2), rgb(255, 0, 0));
    background: linear-gradient(rgba(255, 0, 0, 0), rgba(255, 0, 0, .2), rgb(255, 0, 0));
}

.rightSect {
   
    display:grid;
    grid-template-columns:50px;
    grid-template-rows:repeat(3, 2fr);
    grid-gap: .0px;
}

.rightBot{
   background-color: transparent;
    height: 100%;
    width: 100%;

    color: white;
}

.downSect{
    display:grid;
    grid-template-columns:67px ;
    grid-template-rows: repeat(2,51px);
    margin-left: 50px;
} 

.downRange{
    display:grid;
    grid-template-columns: repeat(3,202px);
    grid-template-rows:2fr;

}

.downRangeHalf{
    position: relative;
    display:grid;
    grid-template-columns: repeat(6,101px);
    grid-template-rows:2fr;

}

.downBot{
    border-color: white;
    position: relative;
    background-color: transparent;
    height: 100%;
    width: 100%;
    color: white;
}


.redB{
    position: relative;
    color:white;
    background-image:url(../img/bRed.png);
    background-repeat:no-repeat;
    height:100%;
    width:100%;
    backface-visibility:hidden;
    background-position:center;
    border-color: white;
}
.blackB{
    border-color: white;
    position: relative;
    color:white;
    background-image:url(../img/bBlack.png);
    background-repeat:no-repeat;
    height:100%;
    width:100%;
    background-position:center;
}

.column {
    border-color: white;
    background: #666666;
    float: left;
    width: 20.33%;
    padding: 15px;
}

.column2 {

    float: right;
    width: 50%;
    padding: 15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


#tablero {

    display: grid;
    grid-template-columns: 50px repeat(3, 201px) 50px;
    grid-template-rows: repeat(1, 151px) 50px 50px;
    grid-gap:.5px;
    padding: 10px;
}

#canvastable{
    border: 1px solid black;

}